.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: blueviolet;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 black, 0 5px black, -5px 0 black, 0 -5px black;
  font-size: 6rem;
  color: #EEEEEE;
}

p {
  font-size: 2rem;
  color: #EEEEEE;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;

}

#rollBtn {
  display: block;
  margin: 40px auto;
  padding: 15px 35px;

  background: #ffffff;
  color: #8a2be2;

  border: none;
  border-radius: 50px;

  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;

  cursor: pointer;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

#rollBtn:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

#rollBtn:active {
  transform: translateY(1px);
}
